global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alerts.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'docker'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'microservices'
    static_configs:
      - targets:
          - 'users-service:8001'
          - 'products-service:8002'
          - 'orders-service:8003'
          - 'rebbitmq: 15672'
          - 'potgres: 5432'
          - 'redis:6379'

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - 'alertmanagers:9093'